.header {

  background-color: blueviolet;

  display: flex;

  flex-flow: row wrap;

  justify-content: flex-start;

  align-content: center;

}


.title{

  flex-grow: 2;

}

a{

  display: flex;

  flex-flow: column;

  justify-content: center;

  margin-right: 2em;

}
