<form [formGroup] = "registerFom" (ngSubmit) ="onRegister()">
  <div class="mb-3">
    <label for="inputUsername" class="form-label">Username</label>
    <input type="text" class="form-control" id="inputUsername" formControlName = "username">
  </div>
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail" formControlName = "email">
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword" formControlName="password">
  </div>
  <div class="mb-3">
    <label for="inputConfirmPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputConfirmPassword" formControlName="confirmPassword">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
